{{!-- all cards container--}}
<div class="row center-things">

    {{!-- on the grill card--}}
    <div class="col-4">

        <div class="card bg-transparent border-0">

            <div class="card-body">

                {{!-- card title --}}
                <h5 class="card-title">

                    On The Grill &nbsp;
                    <i class="far fa-clock"></i>

                </h5>

                {{!-- burger list --}}
                <div>
                    <li>burger placeholder 1</li>
                </div>

            </div>
        </div>
    </div>



    {{!-- in my tummy card--}}
    <div class="col-4">

        <div class="card bg-transparent border-0">

            <div class="card-body">

                {{!-- card title --}}
                <h5 class="card-title">

                    In my Tummy &nbsp;
                    <i class="fas fa-utensils"></i>

                </h5>

                {{!-- burger list --}}
                <div>
                    <li>burger placeholder 1</li>
                </div>

            </div>
        </div>
    </div>
</div>