{{!-- logo container  --}}
<div class="center-things">

    {{!-- brand logo  --}}
    <i class="fab fa-stack-exchange fa-10x" id="brand-icon"></i>

</div>

{{!-- header text  --}}
<h1 class="center-things"> Brag a Burger </h1>
<br>

{{!-- container for cards --}}
{{> display }}

<br><br>

{{!-- create burger container --}}
{{> create }}